body {
	background-image: url("smile.jpg");
	background-repeat: no-repeat;
 	background-size: cover;
}

#playerSection {
	display: none;
	margin-left: 20%;
 	font-size: 2vw;

}

#next {
	opacity: 0.6;
	cursor: not-allowed;
}

#failed {
	opacity: 0.6;
	cursor: not-allowed;
}

 #addingWords {
 	display: none;
 	margin-left: 20%;
 	font-size: 2vw;
 	
 }

 #checkingPlayer {
 	display: none;
 	margin-left: 20%;
 	font-size: 2vw;
 	
 }

 #timer {
 	font-style: bold;
 	font-size: 30px;
 }

 #no {
 	opacity : 0.6;
	cursor :not-allowed;
 }

 #word {
 	font-size: 50px;
 	font-style: bold;
 	color: red;
 	text-shadow:2px 0px black;
 }

 #teams {
 	display: none;
 	margin-left: 20%;
 	font-size: 2vw;
 	
 }

 #result {
 	display: none;
 	margin-left: 20%;
 	font-size: 2vw;

 }

  #contestant {
 	font-size: 50px;
 	font-style: bold;
 	color: red;
 	text-shadow:2px 0px black;
 }